$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Germania+One');

h1 {
  color: red;
  font-family: 'Germania One', cursive;
  font-size: 65px;
  text-align: center;
},

body {
  background-image: url('http://also.kottke.org/misc/images/werner-herzog-bear.jpg');
}

.panel {
  width: 50%;
}

.message {
  color: red;
  font-family: 'Germania One', cursive;
  font-size: 36px;
  text-align: left;
}
